{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Admin Panel</h1>
              <span class="subheading">Manage your posts and change them</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container-fluid">
     <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">          
          <a href="/dashboard"><button class="btn btn-primary float-left">Dashboard Home</button></a>
          <a href="/logout"><button class="btn btn-primary float-right">Logout</button></a>
        </div>
      </div>
      <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">          
   
      <hr>
      <h1 class="text-center">Add/Edit Post</h1>
      <hr>
       <form name="sentMessage" id="contactForm" action = "/edit/{{sno}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" id="title" name='title' required data-validation-required-message="Please enter your name." value="{{post.title}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group controls">
                <label>Tagline</label>
                <input type="text" class="form-control" id="tline" name="tline" required data-validation-required-message="Please enter your email address." value="{{post.tagline}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 controls">
                <label>Slug</label>
                <input type="text" class="form-control" name="slug" id="slug" required data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
              </div>
            </div>
            <div class="control-group">
              <div class="form-group controls">
                <label>Content</label>
                <textarea rows="5" class="form-control" id="blog-content"  name = "content">{{post.content}}</textarea>
                <script type="text/javascript">textboxio.replace('#blog-content');</script>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group controls">
                <label>Image File</label>
                <input class="form-control" name = "img_file" id="img_file" value="{{post.img_file}}">
              </div>
            </div>


            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
          </form>

      
        </div>
      </div>
      </div>
    </div>
    <!-- nothing -->
    {% endblock %}